<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>

        <ion-item>
          <ion-label>CPF</ion-label>
          <ion-input type="" value="" placeholder="000.000.000-00"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" value=""></ion-input>
        </ion-item>
    
      </ion-list>
    
      <div padding>
        <button ion-button color="primary" block>Login</button>
      </div>

</ion-content>
