<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>

        <ion-item>
          <ion-label>CPF</ion-label>
          <ion-input type="text" value="" placeholder="000.000.000-00"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" value=""></ion-input>
        </ion-item>
    
      </ion-list>
    
      <div padding>
        <ion-button color="success" expand="block" fill="outline"><ion-icon name="exit"></ion-icon>Entrar</ion-button>
        <a href="#" text-align="right" >Primeiro acesso</a>
        <a href="#" text-align="left">Esqueci a senha</a>
      </div>

</ion-content>
