<ion-header>
  <ion-toolbar>
    <ion-title>O IFB é publico?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  O Instituto Federal de Brasília (IFB) foi criado em dezembro 
    de 2008, por meio da lei nº 11.892, passando a compor a Rede
     Federal de Educação Profissional, Científica e Tecnológica, 
     existente em todo o Brasil.
  <p>O Instituto Federal de Brasília é uma instituição pública 
    que oferece Educação Profissional gratuita, na forma de  
    cursos e programas de formação inicial e continuada de trabalhadores
     (FIC), educação profissional técnica de nível médio e educação
      profissional tecnológica de graduação e de pós-graduação, 
      articulados a projetos de pesquisa e extensão.  A estrutura 
      multicampi do IFB faculta à instituição fixar-se em vários 
      eixos tecnológicos, diversificando seu atendimento, de 
      conformidade com a vocação econômica das regiões administrativas
       do Distrito Federal.</p>
  <p>O IFB é composto por uma Reitoria e 10 campi distribuídos pelo 
    Distrito Federal: Brasília, Ceilândia, Estrutural, Gama, 
    Planaltina, Recanto das Emas, Riacho Fundo, Samambaia, 
    São Sebastião e Taguatinga.</p>
  <p>O IFB conta com cinco Pró-Reitorias: de Administração (PRAD), 
    de Ensino (PREN), de Extensão e Cultura (PREX), Gestão de 
    Pessoas (PRGP) e de Pesquisa e Inovação (PRPI).</p>

</ion-content>
