<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" icon-only>
        <ion-icon name="log-out"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Adicionar Curso </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">
  <ion-list>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.nome" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.modalidade" placeholder="Modalidade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.tipo" placeholder="Tipo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.descricao" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.cargaHoraria" placeholder="Carga Horária"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.turno" placeholder="Turno"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.duracao" placeholder="Duração"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.vagas" placeholder="Vagas"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.coordenador" placeholder="Coordenador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="curso.email" placeholder="Email"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="salvarCurso()" expand="block">
      Salvar Curso
    </ion-button>
  </ion-toolbar>
</ion-footer>