<ion-header>
  <ion-toolbar>
      <ion-button slot="end" color="light">
            <ion-icon name="search"></ion-icon>
        </ion-button>
    <ion-title>Conecta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>CONECTA IF</h2>
  <ion-button color="light" size="large"><ion-icon name="calendar"></ion-icon>EVENTOS</ion-button>
  <ion-button color="light" size="large"><ion-icon name="list-box"></ion-icon>MINHAS INSCRIÇÕES</ion-button>
  <ion-button color="light" size="large"><ion-icon name="map"></ion-icon>MAPA</ion-button>
  <ion-button color="light" size="large"><ion-icon name="paper"></ion-icon>PROGRAMAÇÃO</ion-button>
  <ion-button color="light" size="large"><ion-icon name="help-circle"></ion-icon>SAIBA MAIS</ion-button>
</ion-content>
