<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/ajuda">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>O que é o IFB ?</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <p>O Instituto Federal de Brasília é uma instituição de ensino gratuita, que articula a educação superior, técnica e básica através dos cursos de educação profissional tecnológica de graduação e de pós-graduação, educação profissional técnica de nível médio e programas de formação inicial e continuada (FIC).</p> 
  <p>Os campus do IFB estão distribuídos no Distrito Federal. São, ao todo, dez campi localizados em Brasília, Ceilândia, Estrutural, Gama, Planaltina, Riacho Fundo, Samambaia, São Sebastião, Taguatinga e Taguatinga Centro.</p>
  <p>Criado em 2008, o IFB é reconhecido pelo MEC e integra a Rede Federal de Educação Profissional, Científica e Tecnológica brasileira, e sua atuação em diversas áreas visa integrar o instituto às comunidades locais e promover o desenvolvimento do futuro profissional. Inovar, produzir e difundir conhecimento através do tripé “ensino, pesquisa e extensão”, a fim de promover a Educação Profissional e Tecnológica são alguns dos seus objetivos.</p>

</ion-content>
