<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/tab1">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>O que é o IFB ?</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <p>
    <ion-img src="/assets/imgs/campus.jpeg"></ion-img>
  </p>
  <p>
    O Campus Brasília do Instituto Federal de Brasília (IFB) foi criado em 2008 por meio da Lei 11.892.
  </p>
  <p>
    A vocação do campus foi definida por meio de consultas à sociedade, tendo como base dados socioeconômicos da região. A unidade atua em quatro eixos tecnológicos: Gestão e Negócios, Tecnologia da Informação, Hospitalidade e Lazer e Artes na área de Dança.
  </p>
  <p>
    São oferecidos cursos técnicos, superiores, de Formação Inicial e Continuada (FIC), projetos de extensão, programa Certific, cursos de idiomas e do Pronatec
  </p>
  <p>
    O prédio definitivo conta com três blocos entregues e em funcionamento. Em dois deles estão as salas de aulas, salas de apoio estudantil e administrativo, laboratórios, auditório e área para instalação da lanchonete. No bloco de entrada está instalada a reitoria do IFB.
  </p>
</ion-content>
