<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/ajuda">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Modalidades de Cursos Técnicos que o IFB oferece?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Técnico Integrado ao Médio - para 
      quem terminou o Ensino Fundamental (9º ano) e tem menos de 
      18 anos.</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;Técnico Integrado ao Programa de Educação de Jovens de Adultos 
- PROEJA - para quem concluiu o Ensino Fundamental e tem mais de 
18 anos.</p>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Técnico Subsequente - para quem já 
    tem o Ensino Médio.</p>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Técnico Concomitante - para quem 
    realiza o Ensino Médio no mesmo estabelecimento ou em instituição 
    de ensino distinta com convênio com IFB.</p>

</ion-content>
