<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/ajuda">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Certificação pelo ENEM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>&nbsp;&nbsp;&nbsp;&nbsp; A certificação com base nos resultados do ENEM destina-se às pessoas
     que não concluíram o Ensino Médio em idade própria, conforme o Art. 
     37 da Seção V da Lei de Diretrizes e Bases da Educação Nacional – LDB 
     – Lei nº 9.394, de 20 de dezembro de 1996 (Anexo I), inclusive às 
     pessoas privadas de liberdade e jovens em cumprimento de medidas 
     socioeducativas ou que estão fora do sistema escolar.</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp; O participante do ENEM interessado em obter o certificado de conclusão 
    do Ensino Médio deverá atender aos seguintes requisitos:
    
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I - indicar a pretensão de utilizar os resultados de desempenho no 
    Exame para fins de certificação de conclusão do Ensino Médio, no ato 
    da inscrição, bem como a Instituição Certificadora;
    
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;II - possuir no mínimo 18 (dezoito) anos completos na data da primeira 
    prova de cada edição do Exame;
    
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;III - atingir o mínimo de 450 (quatrocentos e cinquenta) pontos em cada 
    uma das áreas de conhecimento do Exame;
    
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IV - atingir o mínimo de 500 (quinhentos) pontos na redação.

  <p>&emsp;Para saber mais, acesse o Guia de Certificação do ENEM criado pelo INEP/MEC.</p>
  
  <a href="https://www.ifb.edu.br/index.php/institucional/institucional/4485" target="_blank">
    <p>&emsp;Editais do IFB.</p>
  </a>   
</ion-content>

