<ion-header>
  <ion-toolbar>
      <!-- <ion-button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </ion-button> -->
            <ion-icon slot="end" routerLink="/tabs/perfil" name="ios-contact"></ion-icon>
    <ion-title>
      IFB Mobile 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1> IFB- Campus Brasília</h1>

  <ion-card>
    <a href="http://www.ifb.edu.br/brasilia/20295-curso-de-sistemas-para-internet-recebe-nota-maxima-no-inep" target="_blank">
      <ion-img src="/assets/imgs/importante.png"></ion-img>
    </a>
    <ion-card-header>
      <ion-card-subtitle> Criada: Segunda, 01 de Abril de 2019, 17h09 </ion-card-subtitle>
      <ion-card-title>
         Curso de Sistemas para Internet recebe nota máxima no INEP
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>O Curso Superior de Tecnologia em Sistemas para Internet
            ofertado pelo Campus Brasília do Instituto Federal de Brasília 
            recebeu a nota máxima (5)...</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <a href="http://www.ifb.edu.br/brasilia/20295-curso-de-sistemas-para-internet-recebe-nota-maxima-no-inep" target="_blank">
        <ion-img src="/assets/imgs/importante.png"></ion-img>
      </a>
      <ion-card-header>
        <ion-card-subtitle> Criada: Segunda, 01 de Abril de 2019, 17h09 </ion-card-subtitle>
        <ion-card-title>
           Curso de Sistemas para Internet recebe nota máxima no INEP
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>O Curso Superior de Tecnologia em Sistemas para Internet
              ofertado pelo Campus Brasília do Instituto Federal de Brasília 
              recebeu a nota máxima (5)...</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <a href="http://www.ifb.edu.br/brasilia/20295-curso-de-sistemas-para-internet-recebe-nota-maxima-no-inep" target="_blank">
          <ion-img src="/assets/imgs/importante.png"></ion-img>
        </a>
        <ion-card-header>
          <ion-card-subtitle> Criada: Segunda, 01 de Abril de 2019, 17h09 </ion-card-subtitle>
          <ion-card-title>
             Curso de Sistemas para Internet recebe nota máxima no INEP
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>O Curso Superior de Tecnologia em Sistemas para Internet
                ofertado pelo Campus Brasília do Instituto Federal de Brasília 
                recebeu a nota máxima (5)...</p>
        </ion-card-content>
      </ion-card>
      
</ion-content>