<ion-header>
  <ion-toolbar>
    <ion-title>
      IFB Mobile 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logoIFB.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Nova versão </ion-card-subtitle>
        <ion-card-title>IFB Mobile 2.0</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Nova versão do app agora com Ionc 4.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
