<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/ajuda">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Modalidades de Cursos Superiores que o IFB oferece?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Licenciatura – formação de 
    professores que atuarem prioritariamente na educação básica.</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;Tecnologia - formação especializada 
    nas áreas científicas e tecnológicas.</p>
  
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Bacharelado – formação abrangente.</p>

</ion-content>
