<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Equipe Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1> Projeto IFB Mobile </h1>
  <p> Aplicativo desenvolvido durante pelos alunos do projeto LabApp. </p>
  <p> O projeto tem a finalidade de ser o cartão postal da instituição IFB. </p>
  <p> Apresentando ao público as notícias do instituto;  </p>
  <p> Quais cursos a instituição têm; </p>
  <p> Detalhes das siglas para maior entendimento dos setores do campus; </p>
  <p> E a parte para ajuda. No qual as principais duvidas são respondidas. </p>

  <h3> Desenvolvedores </h3>
  <p> André Luiz Gomes dos Santos </p>
  <p> Douglas Seidi Shibata </p>
  <p> Marcos Allysson de F. Silva </p>
  
  <h3> Coordenador / Professor </h3>
  <p> Tiago Henrique Faccio Segato </p>

</ion-content>
