<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/ajuda">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Tipos de Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;Quais os tipos de cursos que o Instituto Federal de Brasília 
oferece?</p>
    <br>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;1 - Cursos rápidos de formação inicial e continuada (FICs).</p>

  <p>&nbsp;&nbsp;&nbsp;&nbsp;2 - Cursos Técnicos.</p>
Processo seletivo:
Por sorteio eletrônico.

  <p>&nbsp;&nbsp;&nbsp;&nbsp;3 - Cursos Superiores.</p>
Processo seletivo:
Por meio do SISU (Sistema de Seleção Unificada) e/ou pela 
nota do Enem (Exame Nacional do Ensino Médio). 

  <p>&nbsp;&nbsp;&nbsp;&nbsp;4 - Pós-graduação.</p>
Processo seletivo:
Para a pós-graduação lato sensu a seleção é por sorteio público e 
análise de títulos.

</ion-content>
