<ion-app>

  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title> Menu </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-list>
        <ion-item routerLink="/horario"> Horário de Funcionamento do IFB </ion-item>
        <ion-item routerLink="/rede-social"> Redes Sociais </ion-item>
        <ion-item routerLink="/sobre"> Sobre </ion-item>
        <ion-item routerLink="/desenvolvedores"> Desenvolvedores </ion-item>
        <ion-item routerLink="/perfil"> Administrativo </ion-item>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>