<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" routerLink="/tabs/tab1">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Redes Sociais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <a href="https://www.facebook.com/IFBrasilia" target="_blank"><p>@IFBrasilia – Facebook   <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon></p> </a>
  <a href="https://www.instagram.com/ifbrasilia/?hl=pt-br" target="_blank"><p>@IFBRASILIA – Instagram  <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon></p> </a>
  <a href="https://twitter.com/ifbnoticias" target="_blank"><p>IFBNotícias – Twitter  <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon></p> </a>
  <a href="https://www.youtube.com/channel/UC23eWxl4L_Uzx9w8tFDfoEw" target="_blank"><p>TVIFB - no YouTube. <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon></p></a>
</ion-content>
