<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/tabs/tab1" name="arrow-round-back"></ion-icon>
    <ion-title> Redes Sociais </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <a href="https://www.facebook.com/IFBrasilia" target="_blank">
    <p>
      <ion-icon ios="logo-facebook" md="logo-facebook" slot="start"> </ion-icon>
      IFBrasilia – Facebook
    </p>
  </a>
  <a href="https://www.instagram.com/ifbrasilia/?hl=pt-br" target="_blank">
    <p>
      <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
      IFBRASILIA – Instagram
    </p>
  </a>
  <a href="https://twitter.com/ifbnoticias" target="_blank">
    <p>
      <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
      IFBNotícias – Twitter
    </p>
  </a>
  <a href="https://www.youtube.com/channel/UC23eWxl4L_Uzx9w8tFDfoEw" target="_blank">
    <p>
      <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>
      TVIFB - no YouTube.
    </p>
  </a>
  <a href="https://www.flickr.com/photos/ifbrasilia" target="_blank">
    <p>
      IF.BRASILIA - no Flickr.
    </p>
  </a>
</ion-content>