<ion-header>
  <ion-toolbar>
    <ion-title>Como entrar no IFB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Todos os cursos de Formação Inicial e Continuada (FIC), Técnicos e Superiores de Graduação do IFB são gratuitos. Nenhuma taxa ou mensalidade são cobradas. Confira abaixo as formas de ingresso em cada modalidade de curso: 
 
  <p>Formação Inicial e Continuada (FIC)</p>
     
    Cada curso FIC tem seu próprio sistema de seleção, de acordo com os critérios estabelecidos pelo campus ofertante no edital de seleção. Por exemplo: o ingresso pode ser feito por sorteio ou matrículas por ordem de chegada ou mesmo por preenchimento de formulários on-line. 
    Atenção! Isso é definido no edital de seleção de cada curso. 
     
  <p>Cursos Técnicos</p>
     
    Para os cursos técnicos, o Processo Seletivo acontece por sorteio de vagas, seguindo as etapas abaixo: 
     
      <p>• o candidato se cadastra no sistema (processoseletivo.ifb.edu.br);</p>
      <p>• se quiser concorrer por Reserva de Vagas - Pessoa com Deficiência (PD), oriundo de Escola Pública (EP), Autodeclarado Preto, Pardo ou Índio (PPI), Baixa Renda (até 1,5 salário mínimo por pessoa da família) -, deve preparar a lista de documentos que comprovem os requisitos e levar no campus do curso escolhido no período de inscrições;</p>
      <p>• após se inscrever e entregar a documentação exigida no edital de seleção, é necessário acompanhar as listas de sorteados (ampla concorrência e reserva de vagas) que são divulgadas no site do IFB;</p>
      <p>• se for sorteado, será convocado para matricular-se no campus do curso escolhido no período determinado no edital de seleção;</p>
      <p>• se não for sorteado na primeira chamada, deve continuar acompanhando o processo seletivo pois, se ainda houver vaga remanescente, o interessado acompanha os demais editais para manifestação presencial de interesse pela vaga.</p>
     
  Cursos Superiores
    Nos Cursos Superiores do IFB* o ingresso ocorre por meio do SiSU (Sistema de Seleção Unificada) e/ou pela nota do ENEM (Exame Nacional do Ensino Médio). A partir do segundo período, também é possível ingressar nos Cursos Superiores de Graduação por meio da transferência externa ou como portador de diploma.
    *O curso de Licenciatura em Dança do IFB tem um sistema de ingresso diferenciado dos demais. Possui um edital próprio que consiste na análise das notas do ENEM e em um Teste de Habilidades Específicas (THE), que é de caráter eliminatório.
     
  <p>Pós-Graduação</p>
    Especializações - Inscrições on-line, seleção por sorteio eletrônico e análise de currículo
    Mestrado - Inscrição on-line com seleção por provas objetivas e discursivas em exame nacional coordenada pelo Instituto Federal do Espírito Santo.
    
</ion-content>
