<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> Detalhes Glossário </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding> 
  <ion-list>
    <p><ion-label> Sigla: {{glossario.sigla}} </ion-label></p>    
    <p><ion-label> Nome: {{glossario.nome}} </ion-label></p>    
    <p><ion-label> Telefone: {{glossario.telefone}} </ion-label></p>
    <p><ion-label> Sala: {{glossario.sala}} </ion-label></p>
    <p><ion-label> Bloco: {{glossario.bloco}} </ion-label></p>
    <p><ion-label> Responsável: {{glossario.responsavel}} </ion-label></p>
    <p><ion-label> Horário: {{glossario.horario}} </ion-label></p>
    <p><ion-label> Email: {{glossario.email}} </ion-label></p> 
  </ion-list>

</ion-content>