<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Conecta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>

    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" value="" placeholder="E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" value="" placeholder="Senha"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button color="dark" expand="block" fill="outline" routerLink="/info-conecta">
      Login
    </ion-button>

    <ion-grid>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col>
            <ion-button color="dark" small fill="outline" routerLink="#">
              Primeiro Acesso
            </ion-button>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col> </ion-col>
          <ion-col>
            <ion-button color="dark" small fill="outline" routerLink="#">
              Esqueci a senha
            </ion-button>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
      </ion-grid>
  </div>

</ion-content>