<ion-header>
  <ion-toolbar>
    <ion-title>Conecta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>

        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="email" value="" placeholder="E-mail"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" value=""placeholder="Senha"></ion-input>
        </ion-item>
    
      </ion-list>
    
      <div padding>
        <ion-button color="dark" expand="block" fill="outline" routerLink="/info-conecta"><ion-icon name="exit"></ion-icon>Login</ion-button>
        <a href="#">Cadastrar</a>
        <a href="#">Esqueci a senha</a>
      </div>

</ion-content>
