<ion-header>
  <ion-toolbar>
    <ion-title>Conecta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list inset>

        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="" value="" placeholder="E-mail"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" value=""placeholder="Senha"></ion-input>
        </ion-item>
    
      </ion-list>
    
      <div padding>
        <button ion-button color="primary" block (click)="irParaInfoConecta()">Login</button>
      </div>

</ion-content>
