<ion-header>
  <ion-toolbar>
    <ion-title> Eventos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="/assets/imgs/conecta_chamada.png"></ion-img>
    <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>ConectaIF - 2019</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
  </ion-card-content>
  <ion-button color="primary" fill="clear" routerLink="/conecta">Ver mais</ion-button>
  <ion-button color="primary" fill="clear"routerLink="/conecta">Inscreva-se</ion-button>
</ion-card>

<ion-card>
    <img src="/assets/imgs/importante.png">
    <ion-card-header>
      <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
      <ion-card-title> 2019</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
    </ion-card-content>
    <ion-button color="primary" fill="clear">Ver mais</ion-button>
    <ion-button color="primary" fill="clear">Inscreva-se</ion-button>
  </ion-card>
  
  <ion-card>
      <img src="/assets/imgs/importante.png">
      <ion-card-header>
        <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
        <ion-card-title> 2019</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
      </ion-card-content>
      <ion-button color="primary" fill="clear">Ver mais</ion-button>
      <ion-button color="primary" fill="clear">Inscreva-se</ion-button>
    </ion-card>

    <ion-card>
        <img src="/assets/imgs/importante.png">
        <ion-card-header>
          <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
          <ion-card-title> 2019</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
        </ion-card-content>
        <ion-button color="primary" fill="clear">Ver mais</ion-button>
        <ion-button color="primary" fill="clear">Inscreva-se</ion-button>
      </ion-card>
      </ion-content>
      