<ion-header>
  <ion-toolbar>
    <ion-title> Eventos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>ConectaIF - 2019</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
  </ion-card-content>
  <ion-button color="light" routerLink="/conecta">Acesse</ion-button>
  <ion-button color="light" routerLink="/conecta">Inscreva-se</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>**** - 2019</ion-card-title>
    <img src="assets/imgs/importante.png">
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
  </ion-card-content>
  <ion-button size="small" color="light">Ver mais</ion-button>
  <ion-button size="small" color="light">Inscreva-se</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>**** - 2019</ion-card-title>
    <img src="assets/imgs/importante.png">
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
  </ion-card-content>
  <ion-button size="small" color="light">Ver mais</ion-button>
  <ion-button size="small" color="light">Inscreva-se</ion-button>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>**** - 2019</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique laboriosam reiciendis provident ex perferendis molestiae fuga optio iste! Odio possimus voluptas non natus perspiciatis beatae hic numquam repellat. Laborum, nesciunt.
  </ion-card-content>
  <ion-button size="small" color="light">Ver mais</ion-button>
  <ion-button size="small" color="light">Inscreva-se</ion-button>
</ion-card>
</ion-content>
