<ion-header>
  <ion-toolbar>
    <ion-title> Eventos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img src="/assets/imgs/conecta_chamada.png"></ion-img>
    <ion-card-header>
    <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
    <ion-card-title>ConectaIF - 2019</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p>O ConectaIF é um evento gratuito e anual realizado pelo IFB, que reúne inovação, tecnologia e muito conhecimento. Nele, são oferecidas centenas de atividades e nas mais diversas áreas. </p><p>São oficinas, mostras, workshops, rodas de conversa, protótipos de produtos, arte, cultura, palestras, competições, exposições e muito mais, totalizando 18 eventos simultâneos.</p>
  </ion-card-content>
  <a href="https://conectaif.ifb.edu.br/" target="_blank" ><ion-button color="primary" fill="clear">Ver mais</ion-button></a>
  <a href="http://eventos.ifb.edu.br/" target="_blank" ><ion-button color="primary" fill="clear">Inscreva-se</ion-button></a>
</ion-card>

<ion-card>
    <img src="/assets/imgs/PIBID.jpg">
    <ion-card-header>
      <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
      <ion-card-title> II Jornada do PIBID do IFB </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <p>Rodas de conversa sobre experiências dos licenciandos do IFB no âmbito do Programa Institucional de Bolsa de Iniciação à Docência (PIBID), fomentado pela CAPES.</p>
        <p>
            Serão três momentos distintos:
            <br/>
            26/08 (segunda-feira) – 14h às 16h
            <br/>
            27/08 (terça-feira) – 10h às 12h
            <br/>
            30/08 (sexta-feira) – 14h às 16h
        </p>
          </ion-card-content>
          <a href="http://eventos.ifb.edu.br/frontend/eventos/591" target="_blank"> <ion-button color="primary" fill="clear">Ver mais</ion-button></a>
          <a href="http://eventos.ifb.edu.br/frontend/eventos/591" target="_blank"> <ion-button color="primary" fill="clear">Inscreva-se</ion-button></a>
  </ion-card>
  
  <ion-card>
      <img src="/assets/imgs/dialogosFormativos.png">
      <ion-card-header>
        <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
        <ion-card-title>
            Os Institutos Federais e a sua concepção de Educação Profissional e Tecnológica 
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>
            O projeto Diálogos Formativos é uma realização da Pró-Reitoria de Ensino
            do IFB e consiste em realização de encontros, com o objetivo de debater
            com a comunidade acadêmica temas atuais e relevantes para a educação.
        </p>
        <p>
            Esta edição do Projeto Diálogos Formativos terá como objetivo apresentar e dialogar sobre a origem e o papel dos Institutos Federais, e sobre a concepção de educação profissional e tecnológica que abrange o ensino nos níveis e nas modalidades presentes no Instituto Federal de Brasília.
        </p>
      </ion-card-content>
      <a href="http://eventos.ifb.edu.br/frontend/eventos/559" target="_blank"> <ion-button color="primary" fill="clear">Ver mais</ion-button></a>
      <a href="http://eventos.ifb.edu.br/frontend/eventos/559" target="_blank"> <ion-button color="primary" fill="clear">Inscreva-se</ion-button></a>
    </ion-card>

    <ion-card>
        <img src="/assets/imgs/EncontroPeda.jpg">
        <ion-card-header>
          <ion-card-subtitle>Eventos 2019</ion-card-subtitle>
          <ion-card-title> Encontro Pedagógico Unificado 2019 </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
        <p>
            Palestra com o tema Rei da Derivada, Summaê e
            Trezentos: Aprendizagem ativa e colaborativa, para além do conteúdo.
            Professor Dr. Ricardo Ramos Fragelli - UnB            
        </p>
        <p>
            Palestra com o tema Implementação no IFB do Sistema de Avaliação Funcional dos Estudantes com Deficiência. Professor Ulisses Araújo - CETEFE         
        </p>
        <p>
            Mesa Redonda com os Professores Ricardo Ramos Fragelli e Ulisses Araújo. Mediador: Adilson César
        </p>
        </ion-card-content>
        <a href="http://eventos.ifb.edu.br/frontend/eventos/531" target="_blank"> <ion-button color="primary" fill="clear">Ver mais</ion-button></a>
        <a href="http://eventos.ifb.edu.br/frontend/eventos/531" target="_blank"> <ion-button color="primary" fill="clear">Inscreva-se</ion-button></a>
      </ion-card>
      </ion-content>
      