<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/tab1">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horário de Fucionamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        Horário de Atendimento ao Público (geral):
      </ion-col>
      <ion-col>
        De segunda a sexta, das 07h às 22h40
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        Protocolo:
      </ion-col>
      <ion-col size="6">
        De segunda a sexta, das 09h às 12h e das 13h às 18h
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        Registro Acadêmico:
      </ion-col>
      <ion-col size="6">
        De segunda a sexta, das 08h às 20h
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          Assistência Estudantil:
      </ion-col>
      <ion-col size="6">
          De segunda a sexta, das 08h às 20h
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          Biblioteca:
      </ion-col>
      <ion-col size="6">
          De segunda a sexta, das 08h às 21h30  
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>