<ion-header>
  <ion-toolbar>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item routerLink="/entrar">
    Como Estudar no IFB?
  </ion-item>

  <ion-item routerLink="/publico">
    O IFB é Público?
  </ion-item>

  <ion-item routerLink="/tipos">
    Tipos de Cursos Oferecidos pelo IFB
  </ion-item>
  
  <ion-item routerLink="/tabs/tab2">
    Quais os Cursos?
  </ion-item>

  <ion-item routerLink="/modtec">
    Modalidades de Cursos Técnicos que o IFB oferece?
  </ion-item>

  <ion-item routerLink="/modsup">
    Modalidades de Cursos Superiores que o IFB oferece?
  </ion-item>

  <ion-item routerLink="/certificacao">
    Certificação pelo Enem
  </ion-item>

  <ion-item routerLink="/sobre">
    O que é o IFB, Campus Brasília ?
  </ion-item>

  <ion-item routerLink="/mapa">  <!-- comentar -->
    Onde Fica o IFB?
  </ion-item>


</ion-content>

