<ion-header>
  <ion-toolbar>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item routerLink="/entrar">
    Como estudar no IFB?
  </ion-item>

  <ion-item routerLink="/publico">
    O IFB é público?
  </ion-item>

  <ion-item routerLink="/tabs/tab2">
    Quais os cursos?
  </ion-item>

  <ion-item routerLink="/mapa">  <!-- comentar -->
    Onde fica o IFB, campus Brasília?
  </ion-item>

  <ion-item routerLink="/certificacao">
    Certificação pelo Enem
  </ion-item>
  <ion-item routerLink="/sobre">
    O que é o IFB, Campus Brasília ?
  </ion-item>
</ion-content>

