<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Detalhes </ion-title> 
  </ion-toolbar>
</ion-header> 

<ion-content padding> 
  <ion-list>
    <p><ion-label> Nome: {{curso.nome}} </ion-label></p>    
    <p><ion-label> Modalidade: {{curso.modalidade}} </ion-label></p>
    <p><ion-label> Tipo: {{curso.tipo}} </ion-label></p>
    <p><ion-label> Descrição: {{curso.descricao}} </ion-label></p>
    <p><ion-label> Carga Horária: {{curso.cargaHoraria}} </ion-label></p>
    <p><ion-label> Turno: {{curso.turno}} </ion-label></p>
    <p><ion-label> Duração: {{curso.duracao}} </ion-label></p>
    <p><ion-label> Vagas: {{curso.vagas}} </ion-label></p>
    <p><ion-label> Coordenador: {{curso.coordenador}} </ion-label></p>
    <p><ion-label> Email: {{curso.email}} </ion-label></p>
  </ion-list>

</ion-content>